<div class="ui red buttons">
    <a href="{{ path('tavy315_sylius_product_subscriptions_subscription_delete', {'productCode': data}) }}"
       class="ui labeled icon button" {{ sylius_test_html_attribute('delete-button') }}>
        <i class="icon credit trash alternative"></i>
        {{ 'tavy315_sylius_product_subscriptions.my_account_section.delete'|trans }}
    </a>
</div>
