<i class="bell icon"></i>
<a href="{{ path('tavy315_sylius_product_subscriptions_shop_account_subscription_index') }}">
    {{ 'tavy315_sylius_product_subscriptions.form.subscribed_for_notification'|trans }}
</a>
